body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 20px;
}

.dark {
  background-color: #394f49;
  color: white;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

.dark a {
  color: #f3f6f6;
}

a:hover {
  text-decoration: underline;
}
